$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #655DBB;
$primaryDark: #3E54AC;
$primaryLight: #BFACE2;
$disabledBackground: #ccc;
$disabledText: #666;
$disabled: #5e5e5e;
$error: #F34141;
$valid: #4CAF50;